body {
  background-image: url(https://goo.gl/1gcHDd);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.ui.borderless.topmenu.menu, .ui.centered.grid.container {
  margin-top: 10px !important;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: white;
}

.item {
  color: white !important;
  font-size: medium;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3em;
}

#bar {
  padding-top: 4em;
  height: 2em;
}

#logo {
  padding-top: 6em;
  padding-bottom: 10em;
}